<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411395097074-s3q79u9csdckhc9vht5nakbfmjbt2sva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411395097074-s3q79u9csdckhc9vht5nakbfmjbt2sva</string>
	<key>API_KEY</key>
	<string>AIzaSyBmTmSpI9w8uQ4Yx2qcDwLJgk_Eg5WODFA</string>
	<key>GCM_SENDER_ID</key>
	<string>411395097074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLovers</string>
	<key>PROJECT_ID</key>
	<string>flutter-lovers-41970</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lovers-41970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411395097074:ios:d7535fcdbed98b50756b6b</string>
</dict>
</plist>